<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.pdx.cs410.wifi.direct.file.transfer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.pdx.cs410.wifi.direct.file.transfer.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="edu.pdx.cs410.wifi.direct.file.transfer.ServerService"
            android:exported="false" />
        <service
            android:name="edu.pdx.cs410.wifi.direct.file.transfer.ClientService"
            android:exported="false" />

        <activity
            android:name="edu.pdx.cs410.wifi.direct.file.transfer.FileBrowser"
            android:label="@string/title_activity_file_browser"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.pdx.cs410.wifi.direct.file.transfer.ServerActivity" />
        </activity>
        <activity
            android:name="edu.pdx.cs410.wifi.direct.file.transfer.ClientActivity"
            android:label="@string/title_activity_client"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.pdx.cs410.wifi.direct.file.transfer.ServerActivity" />
        </activity>
        <activity
            android:name="edu.pdx.cs410.wifi.direct.file.transfer.Downloads"
            android:label="@string/title_activity_downloads" >
        </activity>
        <activity
            android:name="edu.pdx.cs410.wifi.direct.file.transfer.Settings"
            android:label="@string/title_activity_setttings" >
        </activity>
        <activity
            android:name="edu.pdx.cs410.wifi.direct.file.transfer.LocalDirectory"
            android:label="Local Directory" >
        </activity>
        <activity
            android:name="edu.pdx.cs410.wifi.direct.file.transfer.ServerActivity"
            android:exported="false" >
        </activity>
        <activity
            android:name="edu.pdx.cs410.wifi.direct.file.transfer.FileUpload"
            android:exported="false" >
        </activity>
        <activity
            android:name="edu.pdx.cs410.wifi.direct.file.transfer.PeerDocuments"
            android:label="@string/title_activity_peer_documents" >
        </activity>
        <activity
            android:name="edu.pdx.cs410.wifi.direct.file.transfer.GridViewActivity"
            android:label="@string/title_activity_grid_view" >
        </activity>
        <activity
            android:name="edu.pdx.cs410.wifi.direct.file.transfer.PreferencesActivity"
            android:label="@string/title_activity_preferences" >
        </activity>
        <activity
            android:name="edu.pdx.cs410.wifi.direct.file.transfer.SubCategoriesActivity"
            android:label="@string/title_activity_sub_categories" >
        </activity>
    </application>

</manifest>